* {
  font-weight: bold;
}

#quotes-box {
  border: solid black 3px;
  border-radius:5px;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: white;
}

#button-container {
  position: relative;
  top: 30px;
  bottom: 10px;
}

#new-quote {
  float: right;
  font-weight: bold;
  border-width: 3px;
  border-color:inherit;
}

#tweet-button {
  font-weight: bold;
  border-width: 3px;
  border-color: black;
}
