* {
  font-weight: bold;
}

#quotes-box {
  position: relative;
  margin: 100px auto auto auto;
  border: solid black 3px;
  border-radius:5px;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: white;
}

#button-container {
  position: relative;
  top: 30px;
  bottom: 10px;
}

#new-quote {
  float: right;
  font-weight: bold;
  border-width: 3px;
  border-color:inherit;
  position: relative;
  right: 24px;
}

#quote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #fff;
}

cite {
  text-align: center;
  left: 20px;
  position: relative;
}

#tweet-button {
  font-weight: bold;
  border-width: 3px;
  border-color: black;
  left: 35px;
  position: relative;
}

body {
  background-color: #fff;
}
